.plus {
  font-size: 15px;
  font-weight: 600;
  margin: auto;
}

.mypetsback,
.myclients {
  background-color: #f2f2f2;
  width: 100%;
  padding: 1em 1em;
  border: none;
}

.btnVaccines,
.calendarBtn,
.cartilla {
  border-color: #330033;
  font-size: 1em;
  color: #330033;
  font-weight: 600;
  background: transparent;
}

button.calendarBtn:hover,
button.btnVaccines:hover,
button.cartilla:hover {
  color: #fff;
  background-color: #330033;
  border-color: #330033;
}

i.eyeBtn:hover {
  color: #fff;
  border-color: none;
}
.eyeBtn {
  border-color: none;
  color: #330033;
}

button.btnVaccines:onclick {
  color: #fff;
  background-color: #330033;
  border-color: #330033;
}

.cartillaBtn {
  color: green;
  border-color: green;
  margin-right: 10px;
  font-size: 1em;
  border-width: 1.9px;
}

.updateBtn {
  color: blue;
  border-color: blue;
  margin-right: 10px;
  font-size: 1em;
  border-width: 1.9px;
}

.deleteBtn {
  color: red;
  border-color: red;
  margin-right: 10px;
  font-size: 1em;
  border-width: 1.9px;
}


table {
  table-layout: fixed;
  word-wrap: break-word;
}

.table td,
.table th {
  text-align: center;
}
