
.petInfo {
    background-color:#F2F2F2;
    margin: 3em auto;
    width: 60%;
    padding: 2em 2em;
    border: none;
    
  }
  
  .petInfo-form {
    margin: auto;
    padding: 5em auto;
    max-width: 80%;
    border: none;
    border-radius: 1em;
    
  }

  .singlePetInfo {
    margin: 1em auto;
    display: block;
    padding: 1em 1em;
    margin: 1em 1em;  
}
 
  .singlePetInfo label {
    font-weight: bold;
    float: left;

  }

  .singlePetInfo input[type="text"],input[type="Date"] {
    float: right;
    width: 60%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: black;
  }

  .singlePetInfo i {
    color: white;
  }

  .singlePetInfo input:hover{
    background-color: darkgray;
    cursor: pointer;
  }

  .btn {
    position: relative;
    display: inline-block;
    padding: 6px 8px 7px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .btn:active, .btn.active {
    color: inherit;
    background-color: #ccc;
  }
  .btn:disabled, .btn.disabled {
    opacity: .6;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
  }
  .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #3071a9;
    border: 1px solid #3071a9;
  }

  .btn-outlined {
    background-color: transparent;
  }
  .btn-outlined.btn-primary {
    color: #428bca;
  }
  .btn-outlined.btn-positive {
    color: #5cb85c;
  }
  .btn-outlined.btn-negative {
    color: #d9534f;
  }
  .btn-outlined.btn-primary:active, .btn-outlined.btn-positive:active, .btn-outlined.btn-negative:active {
    color: #fff;
  }

  .btn-block {
    display: block;
    width: 30%;
    padding: 1.5em 0;
  }

  .btn-block .badge {
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
  width: 100%;
}
  
  

