
/*Comienza header and footer*/

.tamanochico{

  position: sticky;
  width: 50px;
  height: 50px;

}

#menusuario{
  padding: 1.5em;
  margin: 20px;
  background-color: white;
  color: #330033;
  border-color: white;
}

.purple{
  background-color: #330033;
  color: white;
}


.img_menu{
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

.dropdown-item:hover{
  background-color: #330033;
  color: white !important;
}

.fas{
  color:  #330033;
  margin-right: 5px;
}

#mitablero{
  margin-bottom: 50px;
}

/*Start cartilla*/

#vacunas{
  background-color: #2E82BC;
  font-size: 2em;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#titletable{
  background-color: #330033;
  color: white;
  border-color: #2E82BC;

}
#bodytable{
  border-color: #2E82BC;
  border-style: solid;
  border-width: medium;
  font-family: 'Assistant', sans-serif;


}

#nombre1,#nombre2,#nombre3,#nombre4,#nombre5,#nombre6,#nombre7,#nombre8{
color: #2E82BC;
font-family: 'Assistant';
font-weight: bold;
font-size: 1.5em;

}

#llamada1,#llamada2,#llamada3,#llamada4,#llamada5,#llamada6,#llamada7,#llamada8{
  color: #330033;
  font-family: 'Assistant';
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 10px;
}

#cartdig{

  font-family: arial;
  color: #330033;
  font-weight: bold;
}

.titmascos{
  color: #330033;
  font-size: 2.5em;
  text-decoration: underline #FCBE10;
}
